table {
    width: 700px;
}

table {
    margin: 0 auto;
    background-color: #FBFFDC;
}

.first td,
th {
    padding: 9px 2px;
}

.n th {
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    border-bottom: 2px solid #ff6a6a;
    border-top: 1px solid#ff6a6a;
}


.a th {
    padding: 5px;
    border-bottom: 2px solid #AAC8A7;
    border-top: 1px solid #C3EDC0;


}

.a td {
    padding: 5px;
    text-align: center;
    border-top: 1px #C3EDC0;

}

.a .name {
    text-align: left;
}

.odd {
    background-color: #FAF3F0;

}

.even {
    background-color: #F8E8EE;

}
.bb {
    background-color: rgb(23, 151, 93);
}
.r {
    background-color: white;
}
.nba {
    background-color: gainsboro;
    
}