#page {
    width: 700px;
    height: 700px;
    margin: 0 auto;
    background-color: lightsteelblue;
    border: 3px solid grey;
}

#page {
    text-align: center;
    background-color: rgb(178, 119, 138);
}

#page #content {
    width: 500px;
    height: 500px;
    margin: 0 auto;
    background-color: rgb(58, 88, 88);
    border: 3px solid white;
}