#page {
    max-width: 1024px;
    margin: 0 auto;
}


header {
    background-color: rgb(32, 83, 83);
    color: white;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.blog-menu {
    display: flex;
    max-width: 300px;
    font-size: small;
    margin-bottom: 20px;
    gap: 30px;
}

.section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.section-header-desc {
    display: flex;
    align-items: center;
    gap: 10px;

}

.blog-about {
    color: gray;
}

.saaral {
    color: darkgray;
}

.tsenher {
    color: rgba(0, 0, 255, 0.697);

}

.tb {
    color: darkgrey;
}

.profile {
    border-radius: 50%;
    width: 35px;
    height: 35px;
}

.first {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-bottom: 30px;
    
}

.h2 {
    color: lightskyblue;
}

.h3 {
    background-color: crimson;
    color: white;
    font-size: small;
    display: flex;

}

.h5 {
    background-color: dimgray;
    color: white;
    font-size: small;
}

.h4 {
    background-color: darkgreen;
    color: white;
    font-size: small;
}

.h6 {
    background-color: rgba(22, 22, 198, 0.807);
    color: white;
    font-size: small;
}

.dalai {
    height: 300px;
    width: 400px;
}

.baigal {
    height: 300px;
    width: 400px;
}

.normal,
.now {
    width: 100%;
}
.now img {
    width: 100%;
}

.normal img {
    width: 100%;
}
/* 
.normal p,
.now p {
    position: absolute;
    top: 250px;
    left: 50px;
    color: rgb(0, 0, 0);
} */

.h1 {
    color: gray;
}

.normal figcaption {
    position: relative;
    top: -37px;
    color: white;
    padding-left: 10px;
   
}
.now figcaption {
    position: relative;
    top: -37px;
    color: rgb(33, 23, 23);
    padding-left: 10px;
}
